<h2>Movies with show Time</h2>
<table style="border: 2px solid #000000" cellspacing = 5 cellpadding = 5>
  <thead>
    <tr>
      <th>Name</th>

    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.name %><br/>
          <h3>Show Times</h3>
          <tr>
              <% movie.show_times.each  do |show_time| %>
                 <td>
                   <%= show_time.content %>
                 </td><br/>
              <% end %>
          </tr>
        </td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
